<h2><%= @workout.name %></h2>
<br>
<p><%= @workout.workout_type %></p>
<br>
<p><%= @workout.time %> minutes</p>
<br>
<button><a href="/workouts/<%= @workout.id %>/edit">Edit</a></button>
<form action="/workouts/<%= @workout.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="submit" type="submit" value="Delete">
</form>
<button><a href="/workouts">Full List</a></button>
<br>
<br>
<button><a href="/logout">Logout</a></button>